@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header section */

.header {
    background-color: #1F2937;
    color: white;

    padding: 15px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

ul {
    list-style-type: none;

    display: flex;
    gap: 20px;
}


.navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-content {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.header-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-description h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;

    margin-left: -8px;
}

.header-description p {
    max-width: 500px;

    font-size: 20px;
}

.header-sign-up {
    width: 150px;
    padding: 9px;
    border-radius: 5px;

    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;

    cursor: pointer;
    border: none;
    font-size: 20px;
}

.header-sign-up:hover {
    background-color: #2969d0;
}

.header-image img {
    width: 300px;
    height: auto;
}

/* Content section */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.content-title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.content-images {
    display: flex;
    gap: 30px;
}

.content-image-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
}

.content-image {
    width: 250px;
    height: 250px;
    border: 3px solid #3882F6;
    border-radius: 30px;
    background-position: center;
}

.content-image-1 {
    background-image: url('images/horsecard.jpg');

}

.content-image-2 {
    background-image: url('images/horsecard-2.jpg');
}

.content-image-3 {
    background-image: url('images/horsecard-3.jpg');
    background-position: 40% 57%;
}

.content-image-4 {
    background-image: url('images/horsecard-4.jpg');
    background-position: 65% 38%;
}

/* Testimonial section */

.quote-section {
    background-color: #E5E7EB;
    text-align: center;

    padding: 60px;
}

.quote {
    font-size: 25px;
    font-style: italic;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.quote-creator {
    text-align: right;
    font-weight: bold;
    font-style: normal;
    margin-top: 15px;
}

/* CTA Section */ 

.cta-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.cta {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;

    justify-content: center;
    align-items: center;

    width: 1100px;
    padding: 40px;
    gap: 100px;
}

.cta-time {
    font-weight: bold;
    font-size: 22px;
}

.cta-right {
    border: 1px solid white;
    border-radius: 4px;
    background: none;
    padding: 15px;

    color: white;
    font-size: 14px;
    cursor: pointer;
}

.cta-right:hover {
    background-color: white;
    color: black;
}


/* Footer section */
.footer {
    height: 100px;
    background-color: #1F2937;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}